<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mi1.duitku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecoveryPasswordActivity"
            android:label="Lupa Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:label="Daftar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyCodeActivity"
            android:label="Kode OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tab1.ContentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".Tab3.TopUpActivity"
            android:label="Top-up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.BankTransferActivity"
            android:label="Top-up Bank Transfer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.PurchaseProcessPLNActivity"
            android:label="PLN PRABAYAR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.ConfirmationPaymentActivity"
            android:label="Confirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.PurchaseActivity"
            android:label="PULSA HP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.PurchaseProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.ConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.PaymentActivity"
            android:label="HP PASCABAR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.PaymentProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.ProcessDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.TransferActivity"
            android:label="TRANSFER"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.PaymentMethodActivity"
            android:label="Pilih Pembayaran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tab3.RedirectBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".Main.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".Main.HelpActivity"
            android:label="BANTUAN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.HelpContentsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>